html {
    margin: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url('../assets/img/bg-warriorw.png');
    background-size: cover;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-container {
    position: relative !important;
    width: fit-content;
    transition: 1s;
    margin: 0 auto;

}

.back-card {
    position: absolute;
    top: 0;
    transition: 1s;

}

.front-card {
    display: block;
    opacity: 100%;
    transition: 1s;

}

.flipped {
    transform: rotateY(180deg);
    transition: 1s;
}

img {
    width: 200px;
    border-radius: 15px;
}

.result {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: black;
    border-radius: 20px;
    color: white;
    width: 200px;
    height: fit-content;
    font-size: 50px;
    z-index: 999;
    margin: auto auto;
}

.stat {
    position: fixed;
    bottom: 0px;
    width: 100%;

    background-color: black;
    color: white;

    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}