html {
    margin: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    margin: 0;
    background-image: url('../assets/img/bg-warriorw.png');
    background-size: cover;
}

button, 
a {
    cursor: pointer;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-container {
    position: relative !important;
    width: fit-content;
    transition: 1s;
    margin: 0 auto;

}

.card-container:hover {
    transform: scale(1.05);
}

.back-card {
    position: absolute;
    top: 0;
    transition: 1s;

}

.front-card {
    display: block;
    opacity: 100%;
    transition: 1s;

}

.flipped {
    transform: rotateY(180deg);
    transition: 1s;
}

img {
    width: 200px;
    border-radius: 15px;
}

.result {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	background-color: hsla(0, 0%, 0%,.7);
	border-radius: 20px;
	color: white;
	width: fit-content;
	height: fit-content;
	font-size: 50px;
	z-index: 999;
	margin: auto auto;
    opacity: 0;
    transform: translateY(300%);
    transition: 2s;
}

.result p {
	margin-bottom: 0;
}

.restart {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, .8);
    color: black;
    width: 50%;
    border-radius: 7px;
    border: none;
}

.translate {
    transform: translateY(0);
    opacity: 100%;
}

.nav {
    position: fixed;
    bottom: 0px;
    width: 100%;

    background-color: black;
    color: white;

    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    text-align: center;
}

.set-username {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.set-username input {
    padding: 10px;
    border: none;
    border-radius: 7px;
}

.username {

}